<div class="card-movie-wrapper card-movie-wrapper--centered">

  <div class="card-movie-carousel">

    <div class="card-movie card-movie--light card-movie--looper card-movie--active">

      <div class="card-movie__content">

        <div class="card-movie__title">STREAM</div>

        <div class="card-movie__details">



          <ul class="card-movie__details-item card-movie__details-list">
            <li>LOSSLESS</li>
            <li>AUDIO</li>
            <li>YOUR WAY</li>
          </ul>

        </div>
        <!-- /.card-movie__details -->

        <div class="card-movie__description">

          <p>STREAM is lossless audio player with minimal design cues for uninterrupted listening experience.</p>

        </div>
        <!-- /.card-movie__description -->

      </div>
      <!-- /.card-movie__content -->



    </div>
    <!-- /.card-movie card-movie--cloud-atlas -->

  </div>
  <!-- /.card-movie-carousel -->

  <div class="card-movie-navigation">

    
    <!-- /.card-movie-navigation__list -->

    <button type="button" data-play></button>

  </div>
  <!-- /.card-movie-navigation -->

</div>

<%= stylesheet_link_tag "home/index" %>
<%= javascript_include_tag "home/index" %>

<!-- /.card-movie-wrapper -->